<header>
	<div class="container-fluid">
		<div class="row center-xs">
			<div class="col-xs-12 col-sm-12 col-md-6">
				<div class="header__container">
					<h1 class="header__name">Patrick Gordon</h1>
					<div class="header__subTitle"><h3 id="typed" style="display: inline"></h3></div>
					<ul class="header__social-icons">
						<li>
							<a href="https://github.com/patrickgordon">
								<span class="icon-github"></span>
							</a>
						</li>
						<li>
							<a href="https://au.linkedin.com/in/patrick-gordon-1309ab49">
								<span class="icon-linkedin-square"></span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<script>
		var typed = new Typed('#typed', {
			typeSpeed: 40,
			backSpeed: 80,
			backDelay: 3000,
			strings: [
				"I love JavaScript.", 
				"I love cycling.",
				"I love Jess.",
				"I love coffee."
			],
			loop: true
		});
	</script>
</header>