<header>
    <div class="container-fluid">
        <div class="row center-sm">
            <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="header__container">
                    <a href="/">
                        <img src="/assets/headshot.png" alt="My Face Lol" class="header__avatar"/>
                    </a>
                    <h1>Patrick Gordon</h1>
                    <ul class="header__social-icons">
                        <li>
                            <a href="mailto:pgord1@gmail.com"><span class="icon-envelope-o"></span></a>
                        </li>
                        <li>
                            <a href="https://au.linkedin.com/in/patrick-gordon-1309ab49"><span
                                    class="icon-github"></span></a>
                        </li>
                        <li>
                            <a href="https://github.com/patrickgordon"><span
                                    class="icon-linkedin-square"></span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>