<header>
	<div class="container-fluid">
		<div class="row center-xs">
			<div class="col-xs-12 col-sm-12 col-md-6">
				<div class="header__container">
					<h1 class="header__name">Patrick Gordon</h1>
					<h3 class="header__subTitle">JavaScript, cycling, coffee, love</h3>
					<ul class="header__social-icons">
						<li>
							<a href="https://github.com/patrickgordon">
								<span class="icon-github"></span>
							</a>
						</li>
						<li>
							<a href="https://au.linkedin.com/in/patrick-gordon-1309ab49">
								<span class="icon-linkedin-square"></span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</header>