---
---

@import "config";
@import "breakpoints";

.blurb {
	display: grid;
	grid-template-columns: 1fr;
	margin-bottom: 24px;

	@include medium {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

.blurb__item {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: $grid-unit;
	text-align: center;
}

.blurb__image {
	width: 64px;
	height: 64px;

	@include medium {
		width: 84px;
		height: 84px;
	}

	@include large {
		width: 128px;
		height: 128px;	
	}
}