---
---

@import "breakpoints";
@import "config";

p > img {
  max-width: 100%;
}

.post {
	display: grid;
	grid-template-columns: repeat(auto-fill, 1fr);
	padding: 24px;
	text-align: justify;
}

.post__header {
	margin-bottom: $grid-unit;
	border-bottom: 1px solid #dddddd;
	padding-bottom: calc(#{$grid-unit} * 2);
}

.post__title {
	margin-top: 0px;
	margin-bottom: $grid-unit;
}

.post__subtitle {
	margin: 0;
}