<!DOCTYPE html>
<html>
<head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/styles/main.css">
    <link rel="stylesheet" type="text/css" href="/styles/icons.css">
    <link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl }}/assets/favicon.ico">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css"
          type="text/css">
</head>
<body>
<div class="wrapper">
    {% include header.html %}
    <div class="content__container container">
        <div class="row center-sm" style="margin-bottom: 20px;">
            <div class="col-xs-12 col-sm-12 col-md-6">
                {{ content }}
            </div>
        </div>
        <div class="row center-sm">
            <div class="col-xs-12 col-sm-12 col-md-6">
                <h2>Last 5 Blog Posts</h2>
                {% for post in site.posts %}
                <div class="card">
                    <div class="card__title">
                        <h3 class="card__titleText">{{ post.title }}</h3>
                    </div>
                    <div class="card__body">
                        <span class="card__tags">
                            {% for tag in post.tags %}
                                {{ tag }} &nbsp;
                            {% endfor %}
                        </span>
                        <p>
                            <em>
                                {{ post.excerpt }}
                            </em>
                        </p>
                        <a href="{{ post.url }}" class="button">Read more</a>
                        <br/>
                        <br/>
                        <span>
                            {{ post.date | date_to_long_string }}
                        </span>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% include footer.html %}
</div>
</body>
</html>
