<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/styles/main.css">
  </head>
  <body>
    <div class="container">
    {{ content }}
    </div><!-- /.container -->
    <footer>
      <ul>
        <li><a href="mailto:pgord1@gmail.com">Email</a></li>
        <li><a href="https://au.linkedin.com/in/patrick-gordon-1309ab49">LinkedIn</a></li>
        <li><a href="https://github.com/patrickgordon">github.com/patrickgordon</a></li>
      </ul>
    </footer>
  </body>
</html>
