<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="/assets/css/main.css">
		<link rel="stylesheet" type="text/css" href="/assets/css/posts.css">
		<link rel="stylesheet" type="text/css" href="/assets/css/icons.css">
		<link rel="stylesheet" type="text/css" href="/assets/css/syntax.css">
		<link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl }}/assets/favicon.ico">
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css" type="text/css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.6/typed.min.js"></script>		
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>

	<body>
		<div>
			{% include header.html %}
			<div class="content__container post">
				<div class="post__header">
					<h1 class="post__title">{{ page.title }}</h1>
					{% if page.subtitle != null %}
						<h2 class="post__subtitle">{{ page.subtitle }}</h2>
					{% endif %}
				</div>
				{{ content }}
			</div>
			{% include footer.html %}
		</div>
	</body>
</html>